<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h4 class="font-weight-bold">All Customers</h4>
            </div>
            <div class="col-4">
                <a href="/addEmployees" class="btn btn-success float-right"><i class="fa fa-plus mr-1"></i>Add New</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Adress</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                <% if(employees.length > 0) { %>
                    <% for(let customer of customers) { %>
                    <tr>
                        <th scope="row"><%= employees.name %></th>
                        <td><%= employees.Email %></td>
                        <td><%= employees.cnic %></td>
                        <td>
                            <a href="/updateCustomer/<%= customer._id %>" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="/deleteCustomer/<%= customer._id %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <% } %>
                <% } else { %>            <tbody>
                    <% if(employees.length > 0) { %>
                        <% for(let employees of employees) { %>
                        <tr>
                            <th scope="row"><%= employees.name %> </th>
                            <td><%= employees.phone %></td>
                            <td><%= employees.cnic %></td>
                            <td>
                                <a href="/updateemployees/<%= employees._id %>" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                                <a href="/deleteemployees/<%= employees._id %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td>No data found</td>
                        </tr>
                    <% } %>
                </tbody>
                    <tr>
                        <td>No data found</td>
                    </tr>
                <% } %>
            </tbody>
            </table>
    </div>
</div>
